// ---------------------------------------------------
// Type Variables
// ---------------------------------------------------
$base-font-size: 20px;
$large-font-size: 22px;
$small-font-size: 14px;

$base-font-weight: 400;
$base-bold-font-weight: 700;
$base-line-height: 1.5;
$base-font-family: 'system-ui';

$heading-color: inherit;
$heading-font-family: inherit;
$heading-font-weight: 700;
$heading-line-height: 1.2;


// ---------------------------------------------------
// Type Style Mixins
// ---------------------------------------------------

@mixin typestyle-body-text {
    @include rfs($base-font-size);

    line-height: $base-line-height;
}

@mixin typestyle-small-text {
    @include rfs($small-font-size);

    line-height: 1.2;
}

@mixin typestyle-meta {
    @include rfs($small-font-size);

    color: color('grey');
    line-height: 1.2;
}

@mixin heading-attributes {
    margin-top: 1.75em;
    margin-bottom: 0.5em;
    font-family: $heading-font-family;
    font-weight: $heading-font-weight;
    line-height: $heading-line-height;

    // Make a tags that are children of headings inherit styling
    a {
        color: inherit;
        text-decoration: none;
    }
}

@mixin typestyle-hero {
    @include heading-attributes;
    @include rfs(90px);

    line-height: 1.2;
}

@mixin typestyle-h1 {
    @include heading-attributes;
    @include rfs(54px);

    line-height: 1.2;
}

@mixin typestyle-h2 {
    @include heading-attributes;
    @include rfs(43px);
}

@mixin typestyle-h3 {
    @include heading-attributes;
    @include rfs(35px);
}

@mixin typestyle-h4 {
    @include heading-attributes;
    @include rfs(28px);
}

@mixin typestyle-h5 {
    @include heading-attributes;
    @include rfs(22px);
}

@mixin typestyle-h6 {
    @include heading-attributes;
    @include rfs(22px);
}
