@import './core';

// ----------------------------------------------
// Reset the things
// ----------------------------------------------
@import 'normalize.css/normalize.css';
@import './1-elements/html';
@import './1-elements/body';

.header,
.footer,
.skip-link,
.overlay__media,
[aria-hidden],
[alt=''],
img:not([alt]) {
    display: none;
}

a,
a:visited {
    text-decoration: underline;
}

[href]::after {
    content: ' (' attr(href) ')';
}

[title]::after {
    content: ' (' attr(title) ')';
}

// Don't show links that are fragment identifiers,
// or use the `javascript:` pseudo protocol

[href^='#']::after,
[href^='javascript:']::after {
    content: '';
}

pre,
blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
}

// Printing Tables:
// http://css-discuss.incutio.com/wiki/Printing_Tables
thead {
    display: table-header-group;
}

tr,
img {
    page-break-inside: avoid;
}

img {
    max-width: 100% !important;
}

p,
h2,
h3 {
    orphans: 3;
    widows: 3;
}

h2,
h3 {
    page-break-after: avoid;
}
