@mixin block-margins {
    $block: &;

    @include layout-margin;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    .main & {
        &[class*='has-background'].alignfull + [class*='has-background'].alignfull {
            @include layout-margin-pull;
        }
    }
}

@mixin block-padding {
    $block: &;

    @include layout-padding;

    > [class*='__inner-container'] {
        @include make-container;
    }
}

@mixin block-footer-negative-margin {
    [class*='has-background'] {
        &:last-child {
            margin-bottom: calc(#{space('layout--medium')} * -1);

            @include mq(medium) {
                margin-bottom: calc(#{rem(125)} * -1);
            }
        }
    }
}
