@mixin layout-padding-top($mobile: space('layout--small'), $tablet: space('layout--medium'), $desktop: space('layout--large')) {
    padding-top: $mobile;

    @if $tablet {
        @include mq('medium') {
            padding-top: $tablet;
        }
    }

    @if $desktop {
        @include mq('large') {
            padding-top: $desktop;
        }
    }
}

@mixin layout-padding-bottom($mobile: space('layout--small'), $tablet: space('layout--medium'), $desktop: space('layout--large')) {
    padding-bottom: $mobile;

    @if $tablet {
        @include mq('medium') {
            padding-bottom: $tablet;
        }
    }

    @if $desktop {
        @include mq('large') {
            padding-bottom: $desktop;
        }
    }
}

@mixin layout-padding($mobile: space('layout--small'), $tablet: space('layout--medium'), $desktop: space('layout--large')) {
    @include layout-padding-top($mobile, $tablet, $desktop);
    @include layout-padding-bottom($mobile, $tablet, $desktop);
}



@mixin layout-margin-top($mobile: space('layout--small'), $tablet: space('layout--medium'), $desktop: space('layout--large')) {
    margin-top: $mobile;

    @if $tablet {
        @include mq('medium') {
            margin-top: $tablet;
        }
    }

    @if $desktop {
        @include mq('large') {
            margin-top: $desktop;
        }
    }
}

@mixin layout-margin-bottom($mobile: space('layout--small'), $tablet: space('layout--medium'), $desktop: space('layout--large')) {
    margin-bottom: $mobile;

    @if $tablet {
        @include mq('medium') {
            margin-bottom: $tablet;
        }
    }

    @if $desktop {
        @include mq('large') {
            margin-bottom: $desktop;
        }
    }
}

@mixin layout-margin-pull($mobile: space('layout--small'), $tablet: space('layout--medium'), $desktop: space('layout--large')) {
    margin-top: -($mobile);

    @if $tablet {
        @include mq('medium') {
            margin-top: -($tablet);
        }
    }

    @if $desktop {
        @include mq('large') {
            margin-top: -($desktop);
        }
    }
}

@mixin layout-margin($mobile: space('layout--small'), $tablet: space('layout--medium'), $desktop: space('layout--large')) {
    @include layout-margin-top($mobile, $tablet, $desktop);
    @include layout-margin-bottom($mobile, $tablet, $desktop);
}
