@charset "UTF-8";

/// Helper function for adding padding. Used with make-row and make-column to implement grids
///
/// @param {number} $gutter [space('gap--small')] - If using with make-row/make-column,
/// this should be half the gutter applied to the parent row.
///
/// @example scss
///    @include make-padding;
///
/// @example scss
///    @include make-padding(20px);
///
/// @access private

@mixin make-padding($gutter: space('gap--small')) {
    padding-right: $gutter;
    padding-left: $gutter;
}
